*{
    padding: 0;
    margin: 0;
}
article{
    background-color: rgb(247, 199, 243);
}
nav{
    background-color: rgb(56, 55, 55);
}
h1 {
    text-align: center;
}
#piePagina{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #15101b;
    color: white;
    bottom: 0;
    left: 0; 
}
.navbar-nav .nav-link {
    color: white !important;
}
.center{
    text-align: center;
}
.card{
    text-align: center;
}
.btn-purple {
    background-color: purple; 
    border-color: purple;     
    color: white;             
}
article {
    padding: 10px;
}
section{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 75%;
}
aside{
    margin: 30px;
    padding: 30px;
    font-style: italic;
    float: right;
    width: 20%;
    border: 2px solid;
}
footer
{
    float: left;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border-top: 2px solid #000;
    background-color: #000;
    color: white;
    text-align: center;
    padding-top: 10px;;
}
img{
    height: 250px;
}

